<div class="footer-content group">
<div class="row">
<div class="col col-12 col-md-4 footer-block">
<h4>&nbsp;</h4>

<p>Tổng đ&agrave;i hỗ trợ miễn ph&iacute;</p>

<ul>
	<li>
	<p>Gọi mua h&agrave;ng&nbsp;<a href="tel:18002097"><strong>1800.2097</strong></a>&nbsp;(7h30 - 22h00)</p>
	</li>
	<li>
	<p>Gọi khiếu nại&nbsp;<a href="tel:18002063"><strong>1800.2063</strong></a>&nbsp;(8h00 - 21h30)</p>
	</li>
	<li>
	<p>Gọi bảo h&agrave;nh&nbsp;<a href="tel:18002064"><strong>1800.2064</strong></a>&nbsp;(8h00 - 21h00)</p>
	</li>
</ul>
</div>

<div class="col col-12 col-md-4 footer-block">
<h4>&nbsp;</h4>

<p>Th&ocirc;ng tin v&agrave; ch&iacute;nh s&aacute;ch</p>

<ul>
	<li><a href="https://cellphones.com.vn/chinh-sach-giao-hang" rel="noopener" target="_blank">Mua h&agrave;ng v&agrave; thanh to&aacute;n Online</a></li>
	<li><a href="https://cellphones.com.vn/tra-gop-online-the-tin-dung" rel="noopener" target="_blank">Mua h&agrave;ng trả g&oacute;p Online</a></li>
	<li><a href="https://cellphones.com.vn/chinh-sach-giao-hang" rel="noopener" target="_blank">Ch&iacute;nh s&aacute;ch giao h&agrave;ng</a></li>
	<li><a href="https://cellphones.com.vn/smember/" rel="noopener" target="_blank">Tra điểm Smember</a></li>
	<li><a href="https://cellphones.com.vn/uu-dai-smember" rel="noopener" target="_blank">Xem ưu đ&atilde;i Smember</a></li>
	<li><a href="https://cellphones.com.vn/smember/warranty" rel="nofollow" target="_blank">Tra th&ocirc;ng tin bảo h&agrave;nh</a></li>
	<li><a href="https://hddt.cellphones.com.vn/" rel="nofollow" target="_blank">Tra cứu ho&aacute; đơn điện tử</a></li>
	<li><a href="https://cellphones.com.vn/quy-dinh-ve-hoa-don-khi-mua-hang-cellphones" rel="noopener" target="_blank">Th&ocirc;ng tin ho&aacute; đơn mua h&agrave;ng</a></li>
	<li><a href="https://cellphones.com.vn/bao-hanh/apple" rel="noopener" target="_blank">Trung t&acirc;m bảo h&agrave;nh ch&iacute;nh h&atilde;ng</a></li>
	<li><a href="https://cellphones.com.vn/quy-dinh-ve-viec-sao-luu-du-lieu" rel="noopener" target="_blank">Quy định về việc sao lưu dữ liệu</a></li>
</ul>

<ul>
	<li>&nbsp;</li>
</ul>
</div>

<div class="border-left col col-12 col-md-4 footer-block">
<div class="contact">
<p>Dịch vụ v&agrave; th&ocirc;ng tin kh&aacute;c</p>

<ul>
	<li><a href="https://cellphones.com.vn/dich-vu-khach-hang-doanh-nghiep" rel="noopener" target="_blank">Kh&aacute;ch h&agrave;ng doanh nghiệp (B2B)</a></li>
	<li><a href="https://cellphones.com.vn/danh-sach-khuyen-mai" rel="noopener" target="_blank">Ưu đ&atilde;i thanh to&aacute;n</a></li>
	<li><a href="https://cellphones.com.vn/tos" rel="noopener" target="_blank">Quy chế hoạt động</a></li>
	<li><a href="https://cellphones.com.vn/chinh-sach-bao-hanh" rel="noopener" target="_blank">Ch&iacute;nh s&aacute;ch Bảo h&agrave;nh</a></li>
	<li><a href="https://cellphones.com.vn/lien-he-hop-tac" rel="noopener" target="_blank">Li&ecirc;n hệ hợp t&aacute;c kinh doanh</a></li>
	<li><a href="https://tuyendung.cellphones.com.vn/" rel="nofollow noopener" target="_blank">Tuyển dụng</a></li>
	<li><a href="https://cellphones.com.vn/sua-chua-phan-cung.html" rel="noopener" target="_blank">Dịch vụ bảo h&agrave;nh điện thoại</a></li>
	<li><a href="https://cellphones.com.vn/bieu-phi-bao-hanh-mo-rong" rel="noopener" target="_blank">Dịch vụ bảo h&agrave;nh mở rộng</a><br />
	&nbsp;
	<p><br />
	Kết nối với ch&uacute;ng t&ocirc;i</p>

	<p><a href="https://www.youtube.com/@CellphoneSOfficial" rel="nofollow" target="_blank"><img alt="CellphoneS Youtube Chanel" src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-youtube.png" /></a>&nbsp;<a href="https://www.facebook.com/CellphoneSVietnam" rel="nofollow" target="_blank">&nbsp;<img alt="CellphoneS Fanpage" src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-facebook.png" /></a>&nbsp;&nbsp;<a href="https://www.instagram.com/cellphonesvn/" rel="nofollow" target="_blank"><img alt="CellphoneS Instagram" src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-instagram.png" /></a>&nbsp;&nbsp;<a href="https://www.tiktok.com/@cellphones.official" rel="nofollow" target="_blank"><img alt="CellphoneS Tiktok" src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-tiktok.png" /></a>&nbsp;&nbsp;<a href="https://oa.zalo.me/3894196696036261863" rel="nofollow" target="_blank"><img alt="CellphoneS Zalo" src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-zalo.png" /></a></p>
	<a class="icon" href="https://dailykiacaudien3s.gianhangvn.com/sitemap.xml" target="_blank" title="SiteMap"><em> </em> </a></li>
</ul>
</div>
</div>
</div>
</div>
